#bg-video {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(100%) translateY(100%);
  z-index: -100;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image {
  background-image: url("../img/tm-astro-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}
.bg-image .logo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.4rem;
  padding: 10px 40px;
}
.bg-image .nav-item {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
}
.bg-image .nav-item .nav-link {
  font-size: 19px;
  color: white !important;
  padding: 15px 40px;
  border-bottom: 1px solid white;
}
.bg-image .nav-item .nav-link:hover {
  color: #99FF66 !important;
  border-bottom: 1px solid #99FF66 !important;
}
.bg-image .nav-item .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
.bg-image .nav-item .circle:hover {
  background-color: #99FF66 !important;
}
.bg-image .nav-item .circle-position {
  top: 4px;
  left: 14px;
}
.bg-image .custom-border-bottom {
  border-bottom: 1px solid white;
}
.bg-image .custom-border-bottom .circl-border-bottom {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
.bg-image .custom-border-bottom .left-circle-position-bottom {
  bottom: -10px;
  left: 0px;
}
.bg-image .custom-border-bottom .right-circle-position-bottom {
  bottom: -10px;
  right: 0px;
}
.bg-image .custom-border-top {
  border-top: 1px solid white;
}
.bg-image .custom-border-top .circl-border-top {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
.bg-image .custom-border-top .left-circle-position {
  top: -10px;
  left: 0px;
}
.bg-image .custom-border-top .right-circle-position {
  top: -10px;
  right: 0px;
}
.bg-image .black-box {
  background-color: rgba(47, 61, 73, 0.7215686275);
  background-blend-mode: overlay !important;
}
.bg-image .black-box .Astro-Motion {
  font-family: "Source Sans Pro", sans-serif;
}
.bg-image .black-box .Astro-Motion-para {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
}
.bg-image .black-box .Astro-Motion-para .free-pic {
  color: #99FF66;
}
.bg-image .black-box .Astro-Motion-para .contact-us {
  color: #99FF66;
}
.bg-image .black-box-1 {
  background-color: rgba(47, 61, 73, 0.7215686275);
  background-blend-mode: overlay !important;
  width: 80%;
}
.bg-image .black-box-1 .Astro-Motion {
  font-family: "Source Sans Pro", sans-serif;
}
.bg-image .black-box-1 .Astro-Motion-para {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
}
.bg-image .black-box-1 .Astro-Motion-para .free-pic {
  color: #99FF66;
}
.bg-image .black-box-1 .Astro-Motion-para .contact-us {
  color: #99FF66;
}
.bg-image .btn-hover:hover {
  color: #99FF66 !important;
}
.bg-image .black-box-2 {
  background-color: rgba(47, 61, 73, 0.7215686275);
  background-blend-mode: overlay;
}
.bg-image .about-company {
  font-family: "Source Sans Pro", sans-serif;
}
.bg-image .about-company-para {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
}
.bg-image .about-company-para .allow {
  color: #99FF66;
}
.bg-image .about-company-para-2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
}
.bg-image .circle-4-about {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
.bg-image .position-circle-4-about {
  bottom: -560px;
  left: -14px;
}
@media (max-width: 576px) {
  .bg-image .position-circle-4-about {
    bottom: -1272px !important;
    left: -12px !important;
  }
}
.bg-image .circle-5-about {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
.bg-image .position-circle-5-about {
  bottom: -560px;
  right: -12px;
}
@media (max-width: 576px) {
  .bg-image .position-circle-5-about {
    bottom: -1272px !important;
    right: -12px !important;
  }
}
.bg-image .form-control {
  background-color: transparent !important;
  border-bottom: 1px solid white !important;
}
.bg-image .form-control::-moz-placeholder {
  color: white !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.bg-image .form-control:-ms-input-placeholder {
  color: white !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.bg-image .form-control::placeholder {
  color: white !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.bg-image .contact-us {
  font-family: "Source Sans Pro", sans-serif;
}
.bg-image .contact-para {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.bg-image .email {
  font-family: "Source Sans Pro", sans-serif;
  color: white !important;
}
.bg-image .email-hover:hover {
  color: #99FF66 !important;
}
.bg-image .tel {
  font-family: "Source Sans Pro", sans-serif;
}
.bg-image .tel-hover:hover {
  color: #99FF66 !important;
}
.bg-image .slick-dots li button:before {
  margin-top: 10px;
  font-size: 24px;
  color: white !important;
}
.bg-image .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #3CCDFF !important;
}
.bg-image .slick-dots li button {
  color: white !important;
  opacity: 1 !important;
}
.bg-image .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.bg-image .image:hover {
  opacity: 0.6;
}
.bg-image .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.bg-image .text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}/*# sourceMappingURL=index.css.map */