






#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(100%) translateY(100%);
    z-index: -100;
    // background-image: url('../img/tm-astro-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image {
    background-image: url('../img/tm-astro-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;

    .logo {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2.4rem;
        padding: 10px 40px;
    }

    .nav-item {
        font-family: 'Source Sans Pro', sans-serif;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 300;

        .nav-link {
            font-size: 19px;
            color: white !important;
            padding: 15px 40px;
            border-bottom: 1px solid white;

            &:hover {
                color: #99FF66 !important;
                border-bottom: 1px solid #99FF66 !important;
            }
        }

        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;

            &:hover {
                background-color: #99FF66 !important;
            }
        }

        .circle-position {
            top: 4px;
            left: 14px;
        }
    }

    .custom-border-bottom {
        border-bottom: 1px solid white;
        .circl-border-bottom {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
        }
        .left-circle-position-bottom{
            bottom: -10px;
            left: 0px;
        }
        .right-circle-position-bottom{
            bottom: -10px;
            right: 0px;
        }
    }

    .custom-border-top {
        border-top: 1px solid white;

        .circl-border-top {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
        }
        .left-circle-position{
            top: -10px;
            left: 0px;
        }
        .right-circle-position{
            top: -10px;
            right: 0px;
        }
    }


    .black-box {
        background-color: #2f3d49b8;
        background-blend-mode: overlay !important;

        .Astro-Motion {
            font-family: 'Source Sans Pro', sans-serif;
        }

        .Astro-Motion-para {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 20px;
            color: white;

            .free-pic {
                color: #99FF66;
            }

            .contact-us {
                color: #99FF66;
            }
        }
    }



    .black-box-1 {
        background-color: #2f3d49b8;
        background-blend-mode: overlay !important;
        width: 80%;

        .Astro-Motion {
            font-family: 'Source Sans Pro', sans-serif;
        }

        .Astro-Motion-para {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 20px;
            color: white;

            .free-pic {
                color: #99FF66;
            }

            .contact-us {
                color: #99FF66;
            }
        }
    }

    .btn-hover {
        &:hover {
            color: #99FF66 !important;
        }
    }

    .black-box-2 {
        background-color: #2f3d49b8;
        background-blend-mode: overlay;
    }

    .about-company {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .about-company-para {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: white;

        .allow {
            color: #99FF66;
        }
    }

    .about-company-para-2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: white;
    }

    .circle-4-about {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
    }

    .position-circle-4-about {
        bottom: -560px;
        left: -14px;
    }

    @media (max-width:576px) {
        .position-circle-4-about {
            bottom: -1272px !important;
            left: -12px !important;
        }
    }

    .circle-5-about {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
    }

    .position-circle-5-about {
        bottom: -560px;
        right: -12px;
    }

    @media (max-width:576px) {
        .position-circle-5-about {
            bottom: -1272px !important;
            right: -12px !important;
        }
    }

    .form-control {
        background-color: transparent !important;
        border-bottom: 1px solid white !important;

        &::placeholder {
            color: white !important;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .contact-us {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .contact-para {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 300;
    }

    .email {
        font-family: 'Source Sans Pro', sans-serif;
        color: white !important;
    }

    .email-hover {
        &:hover {
            color: #99FF66 !important;
        }
    }

    .tel {
        font-family: 'Source Sans Pro', sans-serif;

    }

    .tel-hover {
        &:hover {
            color: #99FF66 !important;
        }
    }
    .slick-dots li button:before{
        margin-top: 10px;
        font-size: 24px;
        color: white !important;
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #3CCDFF !important;
    }
    .slick-dots li button{
        color: white !important;
        opacity: 1 !important;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
            opacity: 0.6;
            // .middle{
            //     opacity: 1;
            // }
        }
        
      }


      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      
      }
      .text {
        background-color: black;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }
}